.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.UserQuestion {
  background-color: #0e15d2;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.article-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: rgba(11, 11, 11, 0.757);
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 2em;
}

.article-title:hover {
  font-size: 26px;
  color: rgba(5, 135, 241, 0.757);
}
/* Filters Style */
.filter-container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  /* background-color: #305d95;  */
  /* color: rgb(233, 25, 25); */
  padding: 10px;
  z-index: 100;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.filter-form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 10px; */
  /* color: rgb(22, 21, 21); */

  z-index: 100;
  gap: 30px;
  /* background-color: var(--primary-bg); */
  color: var(--text-color);
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); */
}

/* .filter-form label select,
.filter-form label input {
  margin-left: 10px;
  background-color: #0ab5f4;
} */

/* .filter-form > div {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;
  color: #c2ffc2;
} */

.filter-form label {
  justify-self: end;
  color: #000000;
}
/* Article Container */
.articles {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Single Article */
.article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
  /* padding: 20px; */
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Article Title and Summary */

.article-summary {
  font-size: 18px;
  margin-bottom: 16px;
}

/* Read More Link */
.readMore,
.read-more-link {
  font-size: 16px;
  color: blue;
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Article Image */
.articleImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
  width: 400px;
  height: 300px;
}

/* Show Summary Checkbox */
.summaryCheckbox {
  position: absolute;
  top: 5px;
  right: 5px;
}

.article:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: lightblue; */
}

/* Text Center */
.App {
  text-align: center;
  /* background-color: rgba(0, 115, 255, 0.583); */
}

.filter-form div:last-child label select {
  margin-right: 30px;
}

/* Tooltip */
.tooltip {
  display: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
  opacity: 0.8;
}

.read-more-link:hover {
  color: green; /* Color when hovered */
}

.article-header {
  display: flex;
  justify-content: flex-end;
}

/* .bookmark-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
} */

.article-footer {
  display: flex;
  justify-content: flex-end;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.glowing-text {
  font-size: 2em;
  color: #fff;
  text-align: center;
  animation: glow-animation 1.5s infinite alternate;
}

@keyframes glow-animation {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff,
      0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
}

.summaryCheckboxLabel {
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.summaryCheckbox:checked + .summaryCheckboxLabel {
  background-color: #c2ffc2;
}

.summaryToggle {
  cursor: pointer;
  margin-right: 5px;
}

.summaryLabel {
  cursor: pointer;
}

.summary-control {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}

.summaryToggle {
  margin-right: 5px;
}
.summary-control {
  position: absolute;
  top: 0;
  right: 0;
}

.summary-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.summary-toggle {
  margin-right: 5px;
}

.reading-comprehension-bot {
  margin-top: 25px;
  border: 1px solid #ccc;
}

.reading-comprehension-bot h2,
.reading-comprehension-bot p,
.reading-comprehension-bot input,
.reading-comprehension-bot button {
  margin-bottom: 20px;
}

.reading-comprehension-bot h2 {
  margin-top: 10px;
}

.reading-comprehension-bot input {
  margin-right: 20px;
}

.reading-comprehension-bot button {
  margin-left: 20px;
}

.reading-comprehension-bot input,
.reading-comprehension-bot button {
  height: 50px;
}

.read-more-link {
  display: block;
  text-align: center;
  margin-top: 10px;
}
/* Styling the input field */
.reading-comprehension-bot input {
  width: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Add some hover effect on input */
.reading-comprehension-bot input:hover {
  border-color: #555;
}

/* Add focus effect */
.reading-comprehension-bot input:focus {
  border-color: #007bff;
  outline: none;
}

/* Styling the button */
.reading-comprehension-bot button {
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Add some hover effect on button */
.reading-comprehension-bot button:hover {
  background-color: #0056b3;
}

/* Add active/click effect */
.reading-comprehension-bot button:active {
  background-color: #004499;
}

.answer {
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  color: #007bff;
}

.answer:hover {
  background-color: lightblue;
}

.reading-comprehension-bot {
  border: 1px solid lightgrey;
  margin-top: 20px;
  padding: 15px;
}

.reading-comprehension-bot h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Styling for the p tag */
.reading-comprehension-bot p {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
  line-height: 1.5;
}

/* Dynamic styling for the button */
.reading-comprehension-bot button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.reading-comprehension-bot button:hover {
  background-color: #0056b3;
}

.language-dropdown-container {
  position: relative;
  display: inline-block;
}

.globe {
  font-size: 2em;
  cursor: pointer;
}

/* .language-dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  color: rgb(238, 58, 58);
  width: 2em;
}

.language-dropdown li {
  text-align: center;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.article:hover .article-title,
.article:hover .readMore {
  color: #333; /* Or any other color that has good contrast with light blue */
}

.tooltip {
  color: #fff; /* White text on dark background for better readability */
}

/* For language filter*/

/* Article Styles */
.article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.like-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.like-button {
  transition: all 0.3s ease;
  border-radius: 50%;
}

.like-button--liked {
  color: #1f1f1f;
  background-color: #63ccf2;
  /* text-shadow: 0px 0px 5px #ffd700; */
  transform: scale(1.5);
}

.like-button--unliked {
  transform: scrgb(42, 41, 41);
}

.like-count {
  margin-left: 5px;
}

input,
select {
  background-color: #0270ffd8;
}

#languageLabel {
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: space-evenly; /* equally distribute space between elements */
  align-items: center;
}

.pagination-button {
  flex: 1; /* Take up as much space as available */
  text-align: center; /* Center the text */
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease; /* Smooth transition for all changes */
}

/* Hover effect */
.pagination-button:hover {
  background-color: #f1f1f1; /* Change the background color */
  cursor: pointer; /* Make it look clickable */
  transform: scale(1.05); /* Make it slightly larger */
}

.pagination-text {
  text-align: center; /* Center the text */
  font-size: 16px;
  width: 100px;
}
