.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* .UserQuestion {
  background-color: #0e15d2;
} */

#header-logo {
  margin-top: 10px;
  margin-left: 50px;
}
#logo-and-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-and-text,
#search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
}
.likess {
  color: #1dabf2cf;
}
#search-container {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  margin-right: 30px;
  padding: 5px;
}

#search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: aliceblue;
  height: 2.5em;
}

#reset-button {
  cursor: pointer;
  background-color: #f4f4f4;
  border: none;
}

.SimpleModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.article-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: rgba(11, 11, 11, 0.757);
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 2em;
}

.article-title:hover {
  font-size: 26px;
  color: rgba(5, 135, 241, 0.757);
}

.filter-container {
  width: clamp(300px, 50%, 600px);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding: 10px;
  z-index: 100;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  color: #45ffca;
  text-align: center;
  background: linear-gradient(to right, #647eff, #42d392);
  background: -webkit-linear-gradient(to right, #647eff, #42d392);
  background: -moz-linear-gradient(to right, #647eff, #42d392);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  z-index: 100;
  gap: 20px;
  /* background-color: rgb(194, 193, 193); */
  /* color: var(--text-color); */
  color: #121212;
  align-items: center;
}

.input-wrapper {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .input-wrapper {
    white-space: nowrap;
    flex-direction: row;
  }
  .filter-form {
    flex-direction: row;
  }
}

.filter-form label {
  justify-self: end;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
/* Article Container */
.articles {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
}
.reading-comprehension-bot button {
  padding: 20px;
  font-size: 18px;
}
#user-input {
  padding: 10px;
  width: 500px;
  display: inline-block;
  font-size: 18px;
  height: 50px;
}

.like-button like-button--unliked {
  padding: 20px;
}
.seen-button seen-button--unliked {
  padding: 50px;
}

#user-input::placeholder {
  color: #121212;
  font-size: 18px;
  font-weight: 500;
  display: flex;

  text-align: center;
}

div.article {
  border: 1px solid #159dd3;
  border-radius: 4px;
  box-shadow: grey;
  min-width: 560;
}
/* Single Article */
.article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 20px;
  padding-top: 20px;
}

/* Article Title and Summary */

.article-summary {
  font-size: 18px;
  margin-bottom: 16px;
}

/* Read More Link */
.read-more-link {
  display: flex;
  font-size: 18px;
  color: black;
  position: absolute;
  bottom: -15px;
  left: 5px;
  font-size: 17px;
  transition: color 0.3s ease;
  text-decoration: none;
  height: 54px;
  align-content: left;
}

/* Article Image */
.articleImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
  width: 400px;
  height: 300px;
}

/* Show Summary Checkbox */
.summaryCheckbox {
  position: absolute;
  top: 5px;
  right: 5px;
}

.article:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text Center */
.App {
  text-align: center;
}

.filter-form div:last-child label select {
  margin-right: 30px;
}

.article-header {
  display: flex;
  justify-content: flex-end;
}

.article-footer {
  display: flex;
  justify-content: flex-end;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.glowing-text {
  font-size: 2em;
  color: #fff;
  text-align: center;
  animation: glow-animation 1.5s infinite alternate;
  background-image: url("https://img.freepik.com/free-vector/disabled-day-concept-illustration_114360-3845.jpg");
}

@keyframes glow-animation {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff,
      0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
}

.reading-comprehension-bot {
  margin-top: 25px;
  border: 1px solid #ccc;
}

.reading-comprehension-bot h2,
.reading-comprehension-bot p,
.reading-comprehension-bot input,
.reading-comprehension-bot button {
  margin-bottom: 20px;
}

.reading-comprehension-bot h2 {
  margin-top: 10px;
}

.reading-comprehension-bot input {
  margin-right: 20px;
}

.reading-comprehension-bot button {
  margin-left: 20px;
}

.reading-comprehension-bot input,
.reading-comprehension-bot button {
  height: 50px;
}

/* Styling the input field */
.reading-comprehension-bot input {
  width: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Styling the summary buttos  */
.reading-comprehension-bot button {
  width: 150px;
  padding: 10px;
  background-color: #63ccf2;
  border: none;
  border-radius: 5px;
  color: #121212;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border: 1px solid #6c6c6ca4;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#answer {
  gap: 5 px;
  font-weight: bold;
  padding: 10px;
  border-radius: px;
  background-color: #63ccf2;
}

.reading-comprehension-bot {
  border: 1px solid lightgrey;
  margin-top: 20px;
  padding: 15px;
}

.reading-comprehension-bot h2 {
  font-size: 1.8em;
  /* font-weight: bold; */
  color: #333;
  margin-bottom: 15px;
}

/* Styling for the p tag */
.reading-comprehension-bot p {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
  line-height: 1.5;
}

.language-dropdown-container {
  position: relative;
  display: inline-block;
}

.globe {
  font-size: 2em;
  cursor: pointer;
}
.accessible-focus:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.article:hover .article-title,
.article:hover .readMore {
  color: #333;
}

/* For language filter*/

/* Article Styles */
.article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: 500px;
}

.article #summaryToggle_Btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #63ccf2;
  font-weight: 500;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.like-container {
  position: absolute;
  /* bottom: 10px; */
  right: 10px;
}

.like-count {
  margin-left: 5px;
}

.seen-container {
  position: absolute;
  bottom: 10px;
  right: 70px;
}

.seen-button {
  transition: all 0.3s ease;
  border-radius: 50%;
}
.article #summaryToggle_Btn:hover,
.write-comment-footer:hover,
.write-comment-footer button:hover {
  font-size: 24px;
  border-radius: 0px;
}

.write-comment-footer button:hover {
  font-size: 24px;
  border-radius: 0px;
  background-color: #63ccf2;
}

input,
select {
  background-color: #63ccf2;
  color: #121212;
  transition: box-shadow 0.3s ease-in-out;
  width: 145px;
  height: 30px;
}

input:hover,
select:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  /* flex: 1;  */
  text-align: center;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 150px;
}

.pagination-text {
  text-align: center;
  font-size: 16px;
  width: 80px;
}

.pagination-button:hover {
  background-color: #35a7e2;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  color: white;
}
#appTitle {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
}

#app_subtitle {
  font-size: 1.2em; /* or any other size */
  margin: 0; /* Remove default margin */
  font-weight: bold;
  padding: 35px;
}

#user-input-label {
  font-weight: 700;
  font-size: 18px;
  padding: 5px;
}
/* THIS IS THE Background for show summary window */
.reading-comprehension-bot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}
/* here we deny user from chosing something in the background */
.summary-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
/* here we add the back to top arrow to the right side */
.back-to-top {
  position: fixed;
  bottom: 60px;
  right: 0px;
  color: #333;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  background: transparent;
}
/* here the css for the share whatsapp twitter .... */
.action-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  gap: 10px;
}

.action-icon {
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
/* this controls the size of the twitter icons... */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  /* border-radius: 50%; */
}

.fa-twitter {
  background: #55acee;
  color: white;
  /* border-radius: 50%; */
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  /* border-radius: 50%; */
}

.fa-whatsapp {
  background: #93e077;
  color: white;
  /* border-radius: 50%; */
}
.fa-email {
  color: white;
  /* border-radius: 60%; */
  background: #125688;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* hide span text or h1 that we don't want to view it on the browser 
but it is required to avoid accissibility errors. */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* the main window for comment */
.comment-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.595); /* Black with opacity */
  z-index: 99909;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #121212;
}

/* This style is for the comments popup window itself */
.comments-container {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(179, 176, 176, 0.877);
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* This is for the bottom "Add Comment" button and input */
/* this is where the button adjustment for the comment container window */
.comments-container button {
  border-radius: 4px;
  background-color: #63ccf2;
  border: none;
  cursor: pointer;
  color: #121212;
  font-size: 18px;
  height: 50px;
  width: 150px;
  padding: 0;
}

.write-commentBtn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #121212;
  font-size: 18px;
  height: 50px;
  padding: 0;
}
/* If you want the button and input field to be beside each other */
.add-comment-button,
input[type="text"] {
  display: inline-block;
}

.add-comment-button:hover {
  opacity: 1;
}

.add-comment-button {
  padding: 20px;
}

/* Each individual comment */
.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  text-align: left;
}

/* For the entire comments container */
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For the top part where the button resides */
.comment-top {
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.comment-list {
  max-height: calc(100% - 100px);
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 50px;
}
/* this is for the comment bottom for user */

/* the comments itself  */
.comment-content {
  transition: all 0.5s ease;
  word-wrap: break-word;
  max-width: 750px;
}
.comment-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* comment container background */
.comment-items-container {
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  flex-direction: column;
}

.comment-item:first-child {
  margin-top: 70px;
}

div.comment-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  border: lightgray;
}
.comment-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

label textarea .add_comment {
  border: lightgrey;
}

.comment-inputs textarea {
  height: 100px;
}
.comment-inputs input,
.comment-inputs textarea {
  width: 300px;
}

.comment-bottom:hover .comment-inputs,
.comment-inputs.show {
  opacity: 1;
  pointer-events: auto;
}

.summaryCheckboxLabel {
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.summary-toggle {
  margin-right: 5px;
}

.comments-container .Hide_commentsBtn {
  border-radius: 4px;
  background-color: #63ccf2;
  border: none;
  cursor: pointer;
  color: #121212;
  font-size: 18px;
  height: 50px;
  width: 150px;
  padding: 0;
  white-space: normal;
  line-height: 1.2;
  text-align: center;
}
div.write-comment-footer {
  display: flex;
  justify-content: center;
  /* background-color: rgba(244, 246, 248, 0.738); */
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.reading-comprehension-bot_textarea {
  /* gap: 100px; */
  /* display: flex; */
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
}
div.expanding_Bot_Textarea .get_answer_button {
  margin-bottom: 20px;
}

.reading-comprehension-bot #answer {
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.reading-comprehension-bot #answer button {
  text-align: center;
}
.get_answer_button:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

input:focus,
textarea:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.comment-inputs label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment-inputs input,
.comment-inputs textarea {
  margin-top: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.231);
}

.comment-inputs label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment-inputs input,
.comment-inputs textarea {
  margin-top: 5px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: #121212;
}
.comment-inputs {
  background-color: #f9ffff;
}

.article #summaryToggle_Btn:hover,
.write-comment-footer:hover,
.write-comment-footer button:hover {
  font-size: 24px;
  border-radius: 0px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  /* background-image: linear-gradient(to right, #647eff, #42d392); */
  background-color: #63ccf2;
}

.write-comment-footer button:hover {
  font-size: 24px;
  border-radius: 0px;
  background-color: #63ccf2;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #647eff, #42d392);
}

/* Read More Link */
.read-more-link {
  display: flex;
  font-size: 18px;
  color: black;
  position: absolute;
  bottom: -15px;
  left: 5px;
  font-size: 17px;
  transition: color 0.3s ease;
  text-decoration: none;
  height: 54px;
  align-content: left;
}
.read-more-link:hover {
  /* Remove or comment out this line */
  font-weight: 700;
  border-radius: 0px;
}
input,
textarea {
  border: 1px solid lightgrey;
}

.glowing-text {
  font-size: 2em;
  color: #fff;
  text-align: center;
  animation: glow-animation 1.5s infinite alternate;
  background-image: url("https://img.freepik.com/free-vector/disabled-day-concept-illustration_114360-3845.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes glow-animation {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff,
      0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff0000, 0 0 20px #ff0000,
      0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
  }
}
